name: Publish Artifacts

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup .NET Core SDK 8.0.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build dotnet release
        run: dotnet publish -c Release

      - name: Zip dotnet release
        run: zip release-${{ github.ref_name }}-dotnet.zip bin/Release/net8.0/publish/*

      - name: Build linux x64
        run: dotnet publish -c Release -r linux-x64 --self-contained

      - name: Zip linux-64 release
        run: zip release-${{ github.ref_name }}-linux-gnu.zip bin/Release/net8.0/linux-x64/publish/*

      - name: Build linux musl
        run: dotnet publish -c Release -r linux-musl-x64 --self-contained

      - name: Zip linux-musl-x64 release
        run: zip release-${{ github.ref_name }}-linux-musl.zip bin/Release/net8.0/linux-musl-x64/publish/*

      - name: Build win x64
        run: dotnet publish -c Release -r win-x64 --self-contained

      - name: Zip win-x64 release
        run: zip release-${{ github.ref_name }}-win.zip bin/Release/net8.0/win-x64/publish/*

      - name: Build osx x64
        run: dotnet publish -c Release -r osx-x64 --self-contained

      - name: Zip osx-x64 release
        run: zip release-${{ github.ref_name }}-osx-x64.zip bin/Release/net8.0/osx-x64/publish/*

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          token: ${{ secrets.RELEASE_TOKEN }}
          files: |
            release-${{ github.ref_name }}-dotnet.zip
            release-${{ github.ref_name }}-linux-gnu.zip
            release-${{ github.ref_name }}-linux-musl.zip
            release-${{ github.ref_name }}-win.zip
            release-${{ github.ref_name }}-osx-x64.zip
